*.a
*.o
*.pb.cc
*.pb.h
.deps
Makefile
Makefile.in

/INSTALL
/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/mosh-*.tar.gz
/stamp-h1
