*.a
*.o
*.pb.cc
*.pb.h
.deps
Makefile
Makefile.in
.cproject
.project
compile_commands.json

/INSTALL
/aclocal.m4
/ar-lib
/autom4te.cache
/compile
src/include/config.h
src/include/config.h.in
src/include/config.h.in~
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/mosh-*.tar.gz
src/include/stamp-h1
/test-driver
/VERSION
/scripts/mosh
src/include/version.h
