*.a
*.o
*.pb.cc
*.pb.h
.deps
Makefile
Makefile.in
.cproject
.project

/INSTALL
/aclocal.m4
/ar-lib
/autom4te.cache
/compile
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/mosh-*.tar.gz
/stamp-h1
/test-driver
/VERSION
/scripts/mosh
/version.h
