#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Through Autoconf we set hardening flags that are actually more aggressive
# than the Ubuntu defaults, but they conflict with same.
export DEB_BUILD_MAINT_OPTIONS = hardening=-stackprotector
-include /usr/share/dpkg/buildflags.mk

%:
	dh $@ --with autoreconf

override_dh_auto_configure:
	dh_auto_configure -- \
		--disable-silent-rules \
		--enable-ufw \
		--enable-completion \
		--enable-compile-warnings=error \
		protobuf_CFLAGS="$$(pkg-config --cflags protobuf)" \
		protobuf_LIBS="$$(pkg-config --libs protobuf | sed s/-lpthread//)"

# This is needed because glibc-2.22 has a bad interaction with the -lpthread
# build option that protobuf's pkg-config script specifies, causing
# a segfault on startup. Workaround is to remove -lpthread manually.
# (The -pthread flag remains.)
